@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
}
.click {
    transition:all 300ms ease;
    cursor: pointer;
}
.click:hover {
    transform: scale(1.1);
}
.click:active{
    transform: scale(0.8);
}
.section__header{
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    text-align: center;
    position: relative;
    padding-top: 16px;
  }
/* Nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20%;
    color: black;
    font-size: 24px;
}
.logo-text {
    padding: 16px;
    padding-top: 24px;
}
.nav__links {
    display: flex;
}
.nav__link a {
    text-decoration: none;
    color: black;
}
.nav__link {
    padding: 16px;
    padding-top: 24px;
    list-style: none;
}


/* Header */
header {
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.typing-title{
    display: flex;
    padding: 24px;
    color: black;
    font-size: 32px;
}
.typing-title h1 {
    font-family: 'EB Garamond', serif;
}
.typing {
    position: relative;
    margin-left: 8px;
}
.typing::after {
    content: "";
    position: absolute;
    right: -4px;
    width: 1px;
    height: 90%;
    border-right: 2px solid black;
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
  .landing__swiper-slide {
    width: 50%;
  }
  .landing-swiper {
    width: 100%;
    padding: 40px 0;
  }
  .landing__swiper-slide img {
    width: 100%;
  }

  /* About */

  .about__text {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  .about__p {
    text-align: center;
    font-size: 20px;
    padding: 16px;
  }

  
  /* Shop */
#shop {
    min-height: 110vh;
}
.shop__item-wrapper{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}
.shop__item {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.shop__item-title{
    font-family: 'EB Garamond', serif;     
    text-align: left;
}
.shop__item-img {
    width: 240px;
    align-self: center;
}
.shop__item-price {
    padding: 8px 0px;
}
.shop__item-button {
    border: none;
    font-size: 16px;
    border: 2px solid green;
    color: green;
    padding: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}
.shop__item-button:hover {
    color: white;
    background-color: green;
}
.shop__item-button:active {
    color:green
}

/*
CONTACT MODAL
*/
nav, #about, .header, #shop {
    opacity: 1;
    visibility: visible;
    transition: all 400ms ease;
}

.modal--open nav, .modal--open #about, .modal--open header, .modal--open #shop {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.4);
    visibility: visible;
}

.modal--open .modal__contact {
    transform: translateX(0%);    
}
.modal__contact {
    background-color: whitesmoke;
    color: black;
    transform: translateX(110%);
    position: relative;
    padding: 8px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in;
}
.contact__title {
    font-family: 'EB Garamond', serif; 
    font-size: 32px;
    padding: 48px;
}
.form__submit {
   background-color: white;
    color: green;
    border: 2px solid green;
    max-width: 240px;
    padding: 8px;
    font-size: 24px;
    transition: all 300ms ease;
    margin-left: 33%;
}
.form__submit:hover {
    background-color: green;
    color: white;
}
.form__submit:active {
    color: green;
}
.modal__exit {
    position: absolute;
    top: 32px;
    right: 40px;
    color: black;
    font-size: 32px;
    z-index: 100;
}
.input {
    height: auto;
    width: 50%;
}
.form__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    margin-bottom: 20px;
}
.message__item textarea {
    height: 200px;
}

/*
Shopping Cart
*/
.shoppingModal--open nav, .shoppingModal--open #about, .shoppingModal--open header, .shoppingModal--open #shop {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}
.shoppingModal--open .shoppingModal{
    z-index: 60;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.4);
    visibility: visible;
}
.shoppingModal--open .cart-wrapper {
    transform: translateX(0%);    
}
.shoppingModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.cart-wrapper {
    background-color: whitesmoke;
    color: black;
    transform: translateX(110%);
    position: relative;
    padding: 24px 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in;
}
.cart__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 400px;
}
.cart__img {
    width: 10%;
}
.cart__title{
    font-family: 'EB Garamond', serif;
    padding: 48px;
}
.cart__item {
    display: flex;
    margin: 8px;
}
.cart__item-description {
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 16px;
}
.cart__price {
    font-family: 'EB Garamond', serif;  
}
.cart__total {
    font-family: 'EB Garamond', serif;
    align-self: flex-end;
    padding: 16px;
}
.cart__delete-item {
    position: absolute;
    right: 0;
    padding-right: 128px;
    border: none;
    align-self: center;
    height: 24px;
    transition: all 300ms ease;
    background-color: whitesmoke;
}
.cart__delete-item:hover {
    color: red;
}
.cart__delete-item:active {
    color: white;
}
.cart__confirm-button{
border: 2px solid green;
color: green;
padding: 8px;
font-size: 16px;
align-self: flex-end;
transition: all 300ms ease;
}
.cart__confirm-button:hover{
color: white;
background-color: green;
}
.cart__confirm-button:active{
color: green;
}
/*
Product Modal
*/
.productModal--open nav, .productModal--open #about, .productModal--open header, .productModal--open #shop {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}
.productModal--open .productModal{
    z-index: 60;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.4);
    visibility: visible;
}
.productModal--open .productWrapper {
    transform: translateX(0%);  
}
.productModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.productSwiperSlide {
    width: 10%;
}
.insertProduct {
    display: flex;
    flex-direction: column;
    padding: 48px;
    padding-top: 120px;
    justify-content: center;
    flex-wrap: wrap;
}
.productModalDescription {
    padding: 0px 24px;
}
.productSwiper {
    width: 400px;
    height: 400px;
}
.productModalImg {
    width: 100%;
}
/*
Media Query
*/
@media (max-width: 768px) { 

    .landing__swiper-slide {
        width: 70%;
      }

    nav {
        margin: 0px 0%;
    }

}

@media (max-width: 480px) { 

    nav {
        font-size: 14px;
    }
    .nav__link {
        padding: 8px;
        padding-top: 24px;
    }
    .logo-text {
        padding: 8px;
        padding-top: 24px;
    }
    .typing-title h1 {
        font-size: 36px;
    }
}